<h1>Jobline Test App</h1>
<h2>We will eventually Archive our Postmark Messages</h2>
<p>
  Today is: <b><%= Date.today.strftime("%d %B %Y") %></b>
</p>

<%= link_to 'Sign in', login_path %>

<!-- <p>
  The time is now: <b><%= DateTime.now.strftime("%l:%M %p") %></b>
</p> -->
