<h1>Jobline Test App</h1>
<h2>We will eventually Archive our Postmark Messages</h2>
<p>
  Today is: <b><%= Date.today.strftime("%d %B %Y") %></b>
</p>

<p>
  The time is now: <b><%= Time.now.strftime("%l:%M %p") %></b>
</p>
